{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block content %}
<section class="posts">
    {% for post in paginator.pages %}
    <article class="post">
        <div class="post-title"><a href="{{ post.permalink }}" class="post-title-link">{{ post.title }}</a></div>
        <div class="post-content">
            <div class="c-article__summary">
              {% if post.summary -%}
              {{ post.summary | safe }}
              {% else %}
              {{ post.content | striptags | truncate(length=280) | safe }}
              {%- endif %}
          </div>
          <a href="{{ post.permalink }}" class="c-article__btn p-list-article__btn">繼續閱讀⋯⋯</a>
        </div>
        <div class="post-meta">
            {% if config.extra.seje_chinese_date %}
                {{ macros::format_chinese_date(year=post.year, month=post.month, day=post.day) }}
            {% else %}
                {{ post.date|date(format="%Y/%m/%d") }}
            {% endif %}
        </div>
    </article>
    {% endfor %}
{# {{ paginator.next }} #}
</section>
{% include "paginator.html" %}
{% endblock %}
